<section class="panel workspace-create" id="js-create">
    <h1>New page details</h1>
    <form id="js-create__form">
        <div>
            <label for="pageType" class="hidden">Page type</label>
            <div class="select-wrap">
                <select id="pageType" required>
                    <option value="noneSelected" name="noneSelected"> --- Select page type ---</option>
                    {{!-- display valid options --}}
                    {{#each this}}
                        {{#if valid}}
                            <option value="{{id}}" name="{{id}}">{{title}}</option>
                        {{/if}}
                    {{/each}}

                    {{!-- display disabled/invalid options --}}
                    {{#each this}}
                        {{#unless valid}}
                            <option value="{{id}}" name="{{id}}" disabled>{{title}}</option>
                        {{/unless}}
                    {{/each}}
                </select>
            </div>
            <span class="js-create__input-error"></span>
        </div>
        <div id="js-create__optional-inputs"></div>
        <div>
            <label for="pagename" class="hidden">Page name</label>
            <input id="pagename" name="pagename" required minlength="4" class="full" type="text" placeholder="Page name"/>
            <span class="js-create__input-error"></span>
        </div>
        <button class="btn btn--positive margin-left--0 btn-page-create">Create page</button>
    </form>
</section>
